---
import { SITE_TITLE } from '../consts'
import Layout from '../layouts/Layout.astro'
---

<Layout title={`404 - ${SITE_TITLE}`} description="Page not found.">
  <header>
    <h1 class="lsa no-repeat">404</h1>
    <p class="lsa no-repeat delay-100">The page you are looking for could not be found.</p>
  </header>
</Layout>
