---
import TitleVertical from '../assets/images/frame-bio_title-vertical.svg'
import Navigation from '../components/ui/Navigation.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <TitleVertical class="fixed left-(--site-padding-base) top-(--site-padding-6xl) h-auto w-16" />
    <Navigation />
  </header>
  <main></main>
</Layout>
