---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <h1 class="lsa no-repeat">Frame Bio</h1>
    <h2 class="lsa no-repeat delay-100">Targeted therapies for the Skin, Bone, Axis</h2>
    <h3 class="lsa no-repeat delay-200">Personalized treatment plans for optimal outcomes</h3>
    <h4 class="lsa no-repeat delay-300">Innovative solutions for complex medical challenges</h4>
    <h5 class="lsa no-repeat delay-400">Cutting-edge research driving better patient care</h5>
    <p class="lsa no-repeat delay-500">
      Advancing the future of medicine through collaboration and innovation
    </p>
  </header>
</Layout>
