---
import Email from '../../assets/images/email.svg'
import TitleHorizontalLight from '../../assets/images/frame-bio_title-horizontal-light-background.svg'
import LocationPin from '../../assets/images/location-pin.svg'
import Phone from '../../assets/images/phone.svg'
import ToTop from '../../assets/images/to-top.svg'
---

<footer class="relative bg-primary-content text-primary z-1000 font-museo-slab-rounded">
  <div class="wrapper grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-lg)">
    <div>
      <!-- Logo -->
      <a
        href="/"
        class="block mb-(--site-padding-lg)"
        aria-label="Frame Bio Home"
        title="Frame Bio Home"
      >
        <TitleHorizontalLight class="max-w-lg" />
      </a>

      <!-- Contact Information -->
      <div class="flex flex-col gap-6 mb-(--site-padding-lg)">
        <!-- Address -->
        <a
          href="https://www.google.com/maps?q=555+NW+Street+St+%23113+Portland,+OR+97209"
          class="flex items-center gap-3 w-full"
        >
          <LocationPin class="size-8" />
          <p class="text-sm leading-tight">
            7 Avenida Vista Grande <br />STE B7 PMB 468 <br /> Santa Fe NM 87508 USA
          </p>
        </a>

        <!-- Phone -->
        <a href="tel:+15054163400" class="flex items-center gap-3 w-full text-sm">
          <Phone class="size-8" />
          <span>(505) 416-3400</span>
        </a>

        <!-- Email -->
        <a href="mailto:questions@frame.bio" class="flex items-center gap-3 w-full text-sm">
          <Email class="size-8" />
          <span>questions@frame.bio</span>
        </a>
      </div>
    </div>

    <!-- Right Column: Back to Top & Copyright -->
    <div class="flex flex-col items-end justify-between h-full gap-2 text-right">
      <!-- Back to Top -->
      <a href="#top" class="flex items-start gap-2">
        <span class="uppercase w-24 text-sm leading-tight">Back to the top</span>
        <ToTop class="size-8" />
      </a>

      <!-- Copyright -->
      <p class="text-sm leading-tight">
        Copyright {new Date().getFullYear()}, Frame Bio LLC | All rights reserved.
      </p>
    </div>
  </div>
</footer>
